
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<div class="inner cover cover-img">
    <div class="center-container ">
      <h1 class="cover-heading">Project Miami</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <%= link_to 'Create a Project', new_project_path, class: 'btn btn-lg btn-success' %>
      <%= link_to 'Support a Project', projects_path, class: 'btn btn-lg btn-primary'  %>
            

    </p>
    </div>
  </div>